



section {
  width: 200px;
  height: 200px; 
  border: 1px solid #000;
  float: left;
  margin: 50px 70px;
}

.box {margin:25px 0px; display: inline-block;}

.float_reset {
  clear: both;
}

section article {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}



/* transform :: 2D */
section.trans_2D article {
  background-color: blue;
}
section.trans_2D:nth-of-type(1) article {
  transform: scale(1.2);
}
section.trans_2D:nth-of-type(2) article {
  /* transform: skewX(-20deg); */
  transform: skewY(-20deg);
}
section.trans_2D:nth-of-type(3) article {
  transform: translateX(50%);
}
section.trans_2D:nth-of-type(4) article {
  transform: rotate(45deg);
}


/* transform :: 3D */
section.trans_3D {
  perspective: 400px;
}
section.trans_3D article {
  background-color: orange;
}
section.trans_3D:nth-of-type(1) article {
  transform: rotateX(45deg);
}
section.trans_3D:nth-of-type(2) article {
  transform: rotateY(45deg);
}
section.trans_3D:nth-of-type(3) article {
  transform: translateZ(-100px)
}
section.trans_3D:nth-of-type(4) article {
  transform: translateZ(100px);
}


/* transform-origin 중심축 변경 */
section.trans_origin {
  perspective: 1200px;
}
section.trans_origin article {
  background-color:hotpink; 
}
section.trans_origin:nth-of-type(1) article {
  transform: rotateY(120deg);
  transform-origin: center center; /**/
}
section.trans_origin:nth-of-type(2) article {
  transform: rotateY(120deg);
  transform-origin: left center;
}
section.trans_origin:nth-of-type(3) article {
  transform: rotateY(120deg);
  transform-origin: right center;
}
section.trans_origin:nth-of-type(4) article {
  transform: rotateX(120deg);
  transform-origin: center bottom;
}
section.trans_origin:nth-of-type(5) article {
  transform: rotateX(120deg);
  transform-origin: center top;
}
section.trans_origin:nth-of-type(6) article {
  transform: rotateX(120deg);
  transform-origin: center bottom;
}